<section class='sign-up text-center'>
  <%= link_to image_tag("Barweiser3DG .png"), root_path, class: 'heading' %>
  
  <div class='devise-form'>
      
      <div class="text-center form-header">
        <h5>Sign in</h5>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
            <%= f.email_field :email, class: 'form-control', placeholder: "Email", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, class: 'form-control', placeholder: "Password", autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign in", class: 'btn sign-up-btn' %>
        </div>
    
      <% end %>
  </div>

<%= render "users/shared/links" %>
  
</section>
