<section class='sign-up text-center'>
  <%= link_to image_tag("Barweiser3DG .png"), root_path, class: 'heading' %>
  
  <div class='devise-form'>
      
      <div class="text-center form-header">
        <h5>Create your Barweiser User account.</h5>
      </div>

      <%= form_for(:user, as: :new_user_registration, url: '/users') do |f| %>
        <%= devise_error_messages! %>

        <%= f.hidden_field :role, value: @company_account.role %>
        <%= f.hidden_field :company_confim_token, value: @company_account.confirmation_token %>    
        <%= f.hidden_field :company_id, value: @company_account.id %>
        <div class="form-group">
            <%= f.text_field :first_name, class: 'form-control', placeholder: "First name", autofocus: true %>
        </div>
        
        <div class="form-group">
            <%= f.text_field :last_name, class: 'form-control', placeholder: "Last name", autofocus: true %>
        </div>
    
        <div class="form-group">
            <%= f.email_field :email, class: 'form-control', placeholder: @company_account.email, value: @company_account.email, autofocus: true %>
        </div>
          
        <div class="form-group">
            <%= f.text_field :username, class: 'form-control', placeholder: "Username", autofocus: true %>
        </div>  
    
        <div class="form-group">
          <%= f.password_field :password, class: 'form-control', placeholder: "Password", autocomplete: "off" %>
        </div>

        <div class="form-group">
           <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm password", autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: 'btn sign-up-btn' %>
        </div>

      <% end %>
  </div>
  
  <div class="text-center">
      <%= render "users/shared/links" %>
  </div>
      
</section>